@font-face {
    font-family: Abel;
    src: url('../Abel/Abel-Regular.ttf');
}

@font-face {
    font-family: Lexend Deca;
    src: url('../Lexend_Deca/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../Anton/Anton-Regular.ttf');
}


